@font-face {
  font-family: "TrebuchetMS";
  src: url(./fonts/TrebuchetMS.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue";
  src: url(./fonts/BebasNeue.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WebsymbolsRegular";
  src: url('./fonts/websymbols-regular-webfont.eot');
  src: url('./fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/websymbols-regular-webfont.woff') format('woff'),
       url('./fonts/websymbols-regular-webfont.ttf ') format('truetype'),
       url('./fonts/websymbols-regular-webfont.svg#WebSymbols') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
	list-style: none;
	margin:0px;
	padding:0px;
	text-decoration: none;
  box-sizing: border-box;
}

[class*="icon"]{
  font-family: 'WebsymbolsRegular';
}
body{
  background-image: url('./img/pattern.png');
}
header{
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  font-family: "BebasNeue";
  height: auto;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}
.logo{
  align-items: center;
  background-color: #37bcf9;
  display: flex;
  cursor: pointer;
  height: 60px;
  justify-content: space-evenly;
  overflow: hidden;
  transition: background .3s;
  text-align: center;
  width: 200px;
}
.logo:hover{
  background-color: #ccc;
  color: #000000;
}
.logo .gear{
  animation-name: rotate-gear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-size: 40px;
}
.logo:hover .gear{
  animation: from-below .5s linear;
}
.logo h3{
  margin-top: 6px;
  font-size: 38px;
  letter-spacing: 3px;
  transition: all .3s;
}
.logo:hover h3{
  animation: from-right .3s linear;
}
.menu{
  background-color: transparent;
}
.menu ul li {
  font-size: 28px;
  display: inline-block;
  margin: 0 10px;
}
.menu ul li a{
  color: white;
  display: block;
  letter-spacing: 1px;
  transition: all .3s;
}
.menu ul li a:hover{
  color: #37bcf9;
  transform: scale(1.1, 1.1);
}
main{
  height: auto;
  padding: 20px 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content{
  height: auto;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner{
  align-items: center;
  animation: back-banner 10s linear;
  background-image: url('./img/bakbaner.png');
  background-position: -240px -200px;
  border: 10px solid white;
  box-shadow: 0px 0px 2px gray;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}
.banner h1{
  color: white;
  font-family: "BebasNeue";
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
.cards{
  height: auto;
  padding: 20px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 4px gray;
  cursor: pointer;
  height: auto;
  overflow: hidden;
  padding: 20px 10px;
  position: relative;
  transition: transform .2s ease;
  width: 19%;
}
.card:hover{
  transform: scale(1.02, 1.02);
  box-shadow: 0px 0px 10px gray;
}
.card .icon{
  display: block;
  font-size: 45px;
  margin: 15px auto;
  text-align: center;
}
.card .category{
  text-align: center;
  font-family: 'TrebuchetMS';
  font-size: 18px;
  color: #05577e;
  margin: 20px auto;
}
.card .description{
  text-align: justify;
  font-family: 'TrebuchetMS';
  font-size: 15px;
}
.container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.left{
  height: auto;
  font-family: "TrebuchetMS";
  width: 27%;
  padding: 20px 10px;
}
.left h3{
  background: url("./img/pxgray.png"), white;
  box-shadow: 0px 1px 0px #393d3f, 
              1px 2px 0px #393d3f, 
              2px 3px 0px #393d3f, 
              3px 4px 0px #393d3f;
  font-family: "BebasNeue";
  font-size: 28px;
  font-weight: normal;
  letter-spacing: 2px;
  padding: 5px 10px;
}
.search{
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc inset;
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto 50px;
  width: 95%;
}
.left input[type="text"]{
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: gray;
  font-size: 14px;
  height: 35px;
  outline:none;
  padding-left: 10px;
  width: 85%;
  transition: .3s;
}
.left input[type="text"]:focus{
  color: #555;
}
.left input[type="button"]{
  background-color: transparent;
  border:none;
  border-left: 1px solid #ccc;
  color: #555;
  cursor: pointer;
  font-size: 16px;
  height: 34px;
  padding-left: 2px;
}
.aside-box{
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), 
              2px 2px 2px rgba(0, 0, 0, 0.3), 
              3px 3px 2px rgba(0, 0, 0, 0.3), 
              -1px -1px 2px rgba(0, 0, 0, 0.3); 
  height: auto;
  margin: 30px auto 50px;
  padding-bottom: 20px;
  padding: 20px 10px;
  width: 95%;
  position: relative;
}
.login input[type="email"],
.login input[type="password"]{
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc inset;
  display: block;
  font-size: 16px;
  height: 35px;
  margin: 0px auto;
  margin-bottom: 15px;
  outline: none;
  padding-left: 30px;
  width: 95%;
}
.login input[type="email"]:focus,
.login input[type="password"]:focus{
  box-shadow: 0px 0px 5px grey inset;
  color: #555;
}
.login #label-user,
.login #label-password{
  font-size: 17px;
  margin-left: 12px;
  margin-top: 7px;
  position: absolute;
} 
.login #label-password{
  font-size: 18px;
  margin-left: 18px;
  margin-top: 8px;
}
.login input[type="submit"],
.articles button{
  display: block;
  background-color: rgb(39, 134, 223);
  border: 2px solid rgba(11, 102, 187, 0.85);
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: "TrebuchetMS";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 25px auto;
  padding: 10px 20px;
  transition: all .5s ease;
}
.login input[type="submit"]:hover,
.articles button:hover{
  background-color: rgba(11, 102, 187, 0.85);
  border: 2px solid white;
  box-shadow: 0px 0px 1px white inset,
              0px 0px 2px white inset;
}
.login a{
  display: block;
  color: black;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
}
.login a:hover{
  text-decoration: underline;
}
.redes a{
  color: #232424;
  display: block;
  font-size: 35px;
  margin-bottom: 15px;
  margin-left: 25px;
}
.redes .overlay{
  background-color: grey;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: -55px;
  text-align: center;
  transform: translateX(-80%);
  transition: 1s ease;
  opacity: 0;
  padding: 8px 0px;
  position: absolute;
  width: 80%;
}
.redes div:hover .overlay{
  transform: translateX(0%);
  opacity: 1;
}
.articles{
  font-family: "TrebuchetMS";
  height: auto;
  width: 69%;
  padding: 20px 10px
}
.articles h2{
  background-image: url('./img/pxgray.png');
  box-shadow: 0px 1px 0px #393d3f, 
              1px 2px 0px #393d3f, 
              2px 3px 0px #393d3f, 
              3px 4px 0px #393d3f;
  display: block;
  height: auto;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 40px;
  padding: 5px 10px;
  width: 100%;
}
.articles article{
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 4px gray;
  height: auto;
  margin: 30px 15px;
  padding: 0px 0px 10px 10px;
}
.articles article .data{
  background-color: #232424;
  border-radius: 0px 2px 0px 5px;
  color: white;
  display: block;
  float: right;
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  padding: 5px;
}
.articles article .data span{
  margin-left: 7px;
}
article h4{
  clear: both;
}
article h4 a{
  color: #05577e;
  cursor: default;
}
.articles article p{
  text-align: justify;
  font-size: 14px;
  margin: 10px;
}
.articles article p a{
  color: #05577e;
}
.articles button{
  font-size: 25px;
  margin-top: 50px;
  width: 80%;
}
footer{
  background-color: black;
  color: white;
  font-family: "BebasNeue";
  height: auto;
  width: 100%;
  letter-spacing: 2px;
}
footer h5{
  background: url('./img/pxgray.png'), white;
  border-radius: 5px;
  color: #000000;
  display: block;
  font-size: 35px;
  height: 45px;
  line-height: 50px;
  margin: 20px auto;
  margin-bottom: 20px;
  text-align: center;
}
footer .menu-footer,
footer .localion,
footer .information{
  margin-left: 15px;
  padding: 10px 5px;
  width: 30%;
}
footer .menu-footer li{
  border-bottom: 1px solid white;
  list-style: disc;
  margin-left: 15px;
  margin-top: 15px;
}
footer .menu-footer a{
  color: #37bcf9;
  font-size: 25px;
  transition: all .5s ease;
}
footer .menu-footer li:hover a{
  padding-left: 40px;
  color: white;
}
.localion iframe{
  display: block;
  border-radius: 5px;
  box-shadow: 0px 0px 3px grey;
  margin: 0px auto;
  width: 90%;
}
.information .tools,
.information .browsers{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.information .tools{
  justify-content: center;
}
.information .tools img{
  width: 85%;
}
.information .browsers img{
  margin-left: 5px;
  width: 14%;
  transition: all .3s ease;
}
.information .browsers img:hover{
  transform: scale(1.2, 1.2);
}
.information p{
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
footer .autor{
  display: block;
  padding: 5px 0px;
  width:100%;
}
footer .autor p{
  color: white;
  font-size: 20px;
  margin-right: 50px;
  text-align: right;
}

/* MEDIA QUERY */
@media(max-width:991px) and (min-width:768px){
  .card .description{
    display: none;
  }
}

@media (max-width:767px) and (min-width:576px){
  header{
    flex-direction: column;
  }
  .logo {
    padding: 25px;
    margin-bottom: 20px;
  }
  .card .description{
    display: none;
  }
  .cards, .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left, .articles{
    width: 90%;
    margin-bottom: 15px;
  }
  .card,
  footer .menu-footer,
  footer .localion,
  footer .information{
    width: 70%;
    margin-bottom: 15px;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .redes a{
    margin: 0px;
  }
}
@media(max-width:575px){
  header{
    flex-direction: column;
  }
  .menu ul li {
    display: block;
    text-align: center;
  }
  .logo {
    padding: 25px;
    margin-bottom: 20px;
  }
  .card .description{
    display: none;
  }
  .cards, .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left, .articles{
    width: 95%;
    margin-bottom: 15px;
    padding: 20px 0px;
  }
  .card,
  footer .menu-footer,
  footer .localion,
  footer .information{
    width: 80%;
    margin-bottom: 15px;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .articles h2{
    padding: 5px 0px;
  }
  .articles article{
    margin: 30px 0;
  }
  .redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .redes a{
    margin: 0px;
  }
  footer .autor p{
    font-size: 14px;
    text-align: center;
    margin: 0px;
  }
  .articles article .data{
    width: 228px;
  }
  .articles .data{
    margin-bottom: 20px;
  }
}

@keyframes rotate-gear{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}
@keyframes from-below{
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(200%);
  }
  100%{
    transform: translateY(0%);
  }
}
@keyframes from-right{
  from{
    transform: translateX(200%);
  }
  to{
    transform: translateX(0%);
  }
}
@keyframes back-banner{
  from{
    background-position: 0px 0px;
  }
  to{
    background-position: -240px -200px;
  }
}